@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

/* ---------- algemeen */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#container {
  width: 960px;
  display: grid;
  grid-template-rows: 1fr 0.5fr auto 3fr;
}

/* ---------- header */

header {
  width: 100%;
  background-color: #555555;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  font-size: 1em;
  color: white;
  padding: 1%;
  grid-column: 1 / span 2;
}

header a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  font-size: 30px;
}

header img {
  height: 50px;
}

.cart-container {
  font-size: 30px;
}

.search-container {
  height: 100%;
  display: grid;
  align-items: center;
}

.search-container input {
  width: 100%;
  height: 80%;
  background-color: #707070;
  border: none;
  border-radius: 5px;
  padding-left: 3%;
}

.search-container input::placeholder {
  color: white;
}

.cart-container {
  display: grid;
  justify-content: right;
  padding-right: 5%;
}

@media screen and (max-width: 960px) {
  #container {
    width: 100%;
  }
  header {
    justify-content: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .search-container {
    grid-column: 1 / span 2;
  }
  .cart-container {
    grid-column: 2;
    grid-row: 1;
  }
}

@media screen and (min-width: 960px) {
  body {
    display: grid;
    justify-content: center;
  }
}

/* ---------- nav */

nav {
  grid-column: 1 / span 2;
  background-color: #555555;
  color: white;
  padding-top: 10px;
}

nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
}

nav li {
  display: grid;
  justify-content: center;
}

@media screen and (max-width: 960px) {
  nav ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
  nav li:nth-child(4),
  nav li:nth-child(5) {
    padding: 20px 0 10px 0;
  }
}

/* ---------- main */

main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column: span 2;
  margin: 3% 0 3% 0;
}

/* ---------- aside */

aside {
  background-color: #ffdf4f;
}

aside ul {
  list-style-type: none;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  height: 70%;
  padding: 5% 0 0 5%;
}

/* ---------- section */

section {
  padding: 0 0 0 5%;
}

section h3 {
  color: white;
  background-color: #39b54a;
  padding: 3%;
  margin-bottom: 3%;
}

.sale-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

figure {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(6, 1fr);
}

figure img {
  grid-row: span 6;
  height: 80%;
}

figcaption {
  grid-column: 2;
  font-size: 1.5em;
  font-weight: bold;
}

.product-platform span {
  background-color: #f0f0f0;
  padding: 0.5%;
  font-size: 0.9em;
}

.old-price {
  grid-row: 4;
  grid-column: 2;
  text-decoration: line-through;
  font-size: 0.8em;
  transform: translateY(15px);
}

.discount-price {
  grid-row: 5;
  grid-column: 2;
}

.discount-price span {
  background-color: #ffdf4f;
  padding: 0.5%;
}

/* ---------- footer */

footer {
  grid-column: span 2;
  text-align: center;
  padding-top: 5%;
  background-color: #555555;
  color: white;
}
